{%extends 'base.html'%}
{% block content %}


<div class="container">
<div class="p-4 m-4">

<div class="col-lg-5 mx-auto border rounded pt-4">
    <h3 class="alert alert-light border rounded">Create An Account</h3>
<form action="/signup" method="post">{% csrf_token%}
    {% if error%}
    <div class="alert alert-danger"role="alert">
{{error}}


    </div>
    {% endif %}





<form>
    <!-- firstname -->


    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text"  value="{{value.first_name}}"name ="firstname"  id="firstname" class="form-control" >
    </div>
    <!-- lastname -->
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" value="{{value.last_name}}"name ="lastname"  id="lastname" class="form-control" >
    </div>
    <!-- phonenumber -->
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text"value="{{value.phone}}" name ="phone"  id="phone" class="form-control" >
      </div>
    <!-- email -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" value="{{value.email}}" id="email"name ="email"class="form-control" id="alert" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <!-- password -->
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" name ="password"  id="pass" class="form-control" >
    </div>
  
    <button type="submit" class="btn btn-success">Create an Account</button>
  </form>


</form>



</div>



</div>




</div>
{% endblock %}